.arrow.rounded.left
.arrow.rounded.right

.content
	.pages
		.page.page_1.active
			.top_container.adorable_table
				.adorable_cell Работа сервиса
			
			.center_container
				.center_content.adorable_table
					.adorable_cell.bottom.left
						.step.bottom_inline_block.step_1
							.number 1
							button.register РЕГИСТРИРУЙТЕСЬ
							
						.step.bottom_inline_block.step_2
							.number 2
							.bottom_title Добавляйте задание
						
						.step.bottom_inline_block.step_3
							.number 3
							.bottom_title Наслаждайтесь результатом
		
		.page.page_2
			.top_container.adorable_table
				.adorable_cell Преимущества сервиса:
			
			.center_container
				.center_content.adorable_table
					.adorable_cell
						.advantage.middle_inline_block.advantage_1
							.bottom_title
								.adorable_table
									.adorable_cell Вступившие люди без собак и списаний
							
						.advantage.middle_inline_block.advantage_2
							.bottom_title
								.adorable_table
									.adorable_cell Без списаний
						
						.advantage.middle_inline_block.advantage_3
							.bottom_title
								.adorable_table
									.adorable_cell Высокая скорость - до 3000 в сутки
						
						.advantage.middle_inline_block.advantage_4
							.bottom_title
								.adorable_table
									.adorable_cell
										div Таргетинг
										.checks
											.check
												img.check_img(src="/img/user/main/check.png")
												span.check_title Страна
											
											.check
												img.check_img(src="/img/user/main/check.png")
												span.check_title Город
											
											.check
												img.check_img(src="/img/user/main/check.png")
												span.check_title Пол
											
											.check
												img.middle_inline_block(src="/img/user/main/check.png")
												span.check_title.middle_inline_block Возраст
				
				.button_container.adorable_table
					.adorable_cell
						button.register РЕГИСТРИРУЙТЕСЬ