@charset "UTF-8";
@import '../dynamic/_dynamic';

.module.cost {
	.cost_panel {
		height: 640px;
	}
	
	.top_title {
		.adorable_cell {
			padding: 0 0 0 31px;
		}
	}
	
	.calculator {
		height: 310px;
	}
	
	.order {
		height: 210px;
	}
}