@charset "UTF-8";
@import '../dynamic/_dynamic';

.module.cabinet {
	.cabinet_panel {
		height: 640px;
	}
	
	.items_container {
		font-size: 12px;
		
		.adorable_table {
			width: 885px;
		}
		
		.item {
			@include box_shadow(none);
			padding: 0;
			
			.adorable_cell {
				@include box_shadow(inset 0 2px 0 0 $lightblueshadow, inset -2px 0 0 0 $lightblueshadow);
				@include border_boxed;
				padding: 10px 10px 10px 13px;
				text-align: left;
			}
			
			&:last-child {
				.adorable_cell {
					@include box_shadow(inset 0 2px 0 0 $lightblueshadow, inset 0 -2px 0 0 $lightblueshadow, inset -2px 0 0 0 $lightblueshadow);
				}
			}
		}
		
		.cabinet_row {
			display: table-row;
		}
		
		.thead {
			height: 40px;
			font-weight: 500;
		}
		
		.number {
			width: 125px;
		}
		
		.name {
			width: 166px;
		}
		
		.country {
			width: 102px;
		}
		
		.city {
			width: 94px;
		}
		
		.gender {
			width: 63px;
		}
		
		.age {
			width: 87px;
		}
		
		.quantity {
			width: 80px;
		}
		
		.price {
			width: 89px;
		}
		
		.status {
			width: 79px;
			position: relative;
			
			&.stopped {
				background-color: $lightyellow;
				
				.status_inside {
					&:before {
						background-position: 0 0;
					}
				}
			}
			
			&.running {
				background-color: $lightgreen;
				
				.status_inside {
					&:before {
						background-position: -17px 0;
					}
				}
			}
			
			&.done {
				.status_inside {
					&:before {
						background-position: -34px 0;
					}
				}
			}
		}
		
		.status_inside {
			width: 100%;
			height: 100%;
			position: relative;
			
			&:before {
				@include pseudo;
				@include absolute_centered;
				width: 16px;
				height: 16px;
				background: url('/img/user/cabinet/status_icon.png') no-repeat;
			}
		}
	}
}