.content
	.panel.cost_panel
		.top_title.adorable_table
			.adorable_cell.left Калькулятор услуг
		
		.calculator
			
		
		.top_title.adorable_table
			.adorable_cell.left Быстрое оформление заказа
		
		.order
			