.content
	.panel.cabinet_panel
		.top_title.adorable_table
			.adorable_cell.left Ваши заказы
		
		.items_container
			.adorable_table
				.cabinet_row.item.thead
					.adorable_cell.number Номер заказа
					.adorable_cell.name Наименование услуги
					.adorable_cell.country Страна
					.adorable_cell.city Город
					.adorable_cell.gender Пол
					.adorable_cell.age Возраст
					.adorable_cell.quantity Кол-во
					.adorable_cell.price Цена (Руб)
					.adorable_cell.status Статус
				
				.cabinet_row.item
					.adorable_cell.number 000 000 004
					.adorable_cell.name Добавление подписчиков на публичную страницу
					.adorable_cell.country Россия
					.adorable_cell.city Москва
					.adorable_cell.gender Ж+М
					.adorable_cell.age 14-18
					.adorable_cell.quantity 5 000
					.adorable_cell.price 45 000
					.adorable_cell.status.stopped
				
				.cabinet_row.item
					.adorable_cell.number 000 000 003
					.adorable_cell.name Позитивные комментарии (записи на стене)
					.adorable_cell.country Украина
					.adorable_cell.city Харьков
					.adorable_cell.gender Ж+М
					.adorable_cell.age от 18
					.adorable_cell.quantity 7 000
					.adorable_cell.price 87 000
					.adorable_cell.status.stopped
				
				.cabinet_row.item
					.adorable_cell.number 000 000 002
					.adorable_cell.name Добавление участников в группу
					.adorable_cell.country Россия
					.adorable_cell.city Петропавловск - Камчатский
					.adorable_cell.gender Ж+М
					.adorable_cell.age 14-18
					.adorable_cell.quantity 23 000
					.adorable_cell.price 178 000
					.adorable_cell.status.running
				
				.cabinet_row.item
					.adorable_cell.number 000 000 001
					.adorable_cell.name Кол-во проголосовавших в опросе
					.adorable_cell.country Украина
					.adorable_cell.city Одесса
					.adorable_cell.gender Ж
					.adorable_cell.age от 18
					.adorable_cell.quantity 10 000
					.adorable_cell.price 20 000
					.adorable_cell.status.done