.topper_container.topper_container_1
	.content
		.top_label
			span Что такое жар или лихорадка
			sup **
			span ?
		
		.bottom_label
			span Жар или лихорадка
			sup ***
			span  - это защитная реакция организма, возникающая в ответ на действие патогенных раздражителей, приводящих к повышению температуры тела человека выше 38°C.
		
		.top_label
			span «Розовая» лихорадка
			sup ***
		
		.bottom_label Если у вашего ребенка руки и ноги теплые, кожа горячая и покрасневшая, то, вероятно, у него так называемая «розовая» лихорадка. Чтобы помочь ребенку, необходимо повысить теплоотдачу  организма и обратиться к врачу за дальнейшими рекомендациями.
		
		.how_to_help(data-id="1")
			button
				span Как помочь
				sup **
				span ?

.help_container.help_container_1
	.content
		.help_item
			.image_content
				.img.glass
			
			.text
				.top_label Обильное теплое питье:
				.bottom_label отвар изюма, для старших детей – узвар из сухофруктов, шиповника, компот.
		
		.help_item
			.image_content
				.img.window
			
			.text
				.top_label Свежий воздух:
				.bottom_label необходимо проветривать комнату 5-10 мин каждый час. Оптимальная температура в помещении 18-19°C.
		
		.help_item
			.image_content
				.img.shirt
			
			.text
				.top_label Легкая одежда:
				.bottom_label оденьте ребенка в легкую пижаму или сорочку. Не кутайте малыша!
		
		.help_item
			.image_content
				.img.towel
			
			.text
				.top_label Обтирания водой:
				.bottom_label обтирайте ребенка водой комнатной температуры с помощью мягкой губки или полотенца. Не используйте холодную воду. Ни в коем случае не обтирайте ребенка спиртом и уксусом: это может вызвать спазм сосудов, токсические реакции, ларинго-, бронхоспазм и судороги.
		
		.help_item
			.image_content
				.img.pill
			
			.text
				.top_label Жаропонижающие препараты:
				.bottom_label давать детям старше 3 месяцев – при температуре выше 38,5°C.

.topper_container.topper_container_2
	.content
		.top_label
			span «Бледная» лихорадка
			sup ***
		
		.bottom_label Если у вашего ребенка руки и ноги холодные, кожа бледная и его знобит, то, вероятно, у него «бледная» лихорадка. В такой ситуации критично оперативно вызвать врача, а также до его приезда принять следующие меры.
		
		.how_to_help(data-id="2")
			button
				span Как помочь
				sup **
				span ?

.help_container.help_container_2
	.content
		.help_item
			.image_content
				.img.hand
			
			.text
				.top_label Сухое растирание:
				.bottom_label разотрите ребенка сухими руками – раздражающее действие на нервные рецепторы усилит теплоотдачу.
		
		.help_item
			.image_content
				.img.pill
			
			.text
				.top_label Жаропонижающие препараты:
				.bottom_label давать детям старше 3 месяцев – при температуре выше 38,5°C.

.notes_container
	.content
		div
			sup *
			span Под «быстрым действием» стоит понимать действие препарата на протяжении 30 минут. Продолжительность действия ибупрофена составляет до 8 часов. Крамарев, С. А., «Лечение лихорадки у детей», Здоровье ребенка №8, 2012; Абатуров О. Е., «Классическая антипиретическая терапия», Здоровье ребенка №8, 2013
		div
			sup **
			span Крамарев, С. А., «Лечение лихорадки у детей», Здоровье ребенка №8, 2012; Абатуров О. Е., «Классическая антипиретическая терапия», Здоровье ребенка №8, 2013; МОЗ Украины, ДВНЗ «Ивано-Франковский Национальный медицинский университет», УНИ ПО, Кафедра детских болезней, Методические рекомендации «Лихорадка у детей: диагностика и лечение»
		div
			sup ***
			span МОЗ Украины, ДВНЗ «Ивано-Франковский Национальный медицинский университет», УНИ ПО, Кафедра детских болезней, Методические рекомендации «Лихорадка у детей: диагностика и лечение»;  для установления точного диагноза и назначения лечения необходимо проконсультироваться с врачом.

.instruction_top_container
	.content.adorable_table
		.adorable_cell
			a.know_logo.new_module(href="/")

			.contacts.half
				.adorable_table
					.adorable_cell
						.icons
							.text
								div 04070, г. Киев, ул. Ильинская, 8,
								div 11 подъезд, 5 этаж

.warning_container
	img(src="/img/user/healthWarningAdvices.jpg")