.content
	.panel.faq_panel
		.top_title.adorable_table
			.adorable_cell.left ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
		
		ul.items_container
			li.item
				.top_label
					span Как раскрутить группу?
				
				.text Некоторых городов нет в нашем списке по причине малого количества пользователей на наших сервисах. Для составления задания по данным городам вам необходимо связаться с онлайн- консультантом. Вы узнаете сколько максимум пользователей может быть привлечено по вашему критерию. Если имеющийся объем вас устроит, тогда консультант отредактирует и запустит ваше задание.
			
			li.item.active
				.top_label
					span Нет нужного мне города в списке, что делать?
				
				.text Некоторых городов нет в нашем списке по причине малого количества пользователей на наших сервисах. Для составления задания по данным городам вам необходимо связаться с онлайн- консультантом. Вы узнаете сколько максимум пользователей может быть привлечено по вашему критерию. Если имеющийся объем вас устроит, тогда консультант отредактирует и запустит ваше задание.
			
			li.item
				.top_label
					span Каковы сроки выполнения работ?
				
				.text Некоторых городов нет в нашем списке по причине малого количества пользователей на наших сервисах. Для составления задания по данным городам вам необходимо связаться с онлайн- консультантом. Вы узнаете сколько максимум пользователей может быть привлечено по вашему критерию. Если имеющийся объем вас устроит, тогда консультант отредактирует и запустит ваше задание.
			
			li.item
				.top_label
					span Какие гарантии вы предоставляете?
				
				.text Некоторых городов нет в нашем списке по причине малого количества пользователей на наших сервисах. Для составления задания по данным городам вам необходимо связаться с онлайн- консультантом. Вы узнаете сколько максимум пользователей может быть привлечено по вашему критерию. Если имеющийся объем вас устроит, тогда консультант отредактирует и запустит ваше задание.
			
			li.item
				.top_label
					span Может ли Администрация ВКонтакте забанить мою группу?
				
				.text Некоторых городов нет в нашем списке по причине малого количества пользователей на наших сервисах. Для составления задания по данным городам вам необходимо связаться с онлайн- консультантом. Вы узнаете сколько максимум пользователей может быть привлечено по вашему критерию. Если имеющийся объем вас устроит, тогда консультант отредактирует и запустит ваше задание.
			
			li.item
				.top_label
					span Какого результата мне ожидать от проделанной работы?
				
				.text Некоторых городов нет в нашем списке по причине малого количества пользователей на наших сервисах. Для составления задания по данным городам вам необходимо связаться с онлайн- консультантом. Вы узнаете сколько максимум пользователей может быть привлечено по вашему критерию. Если имеющийся объем вас устроит, тогда консультант отредактирует и запустит ваше задание.
			
			li.item
				.top_label
					span Объяснение формирования цены и чем мы отличаемся от подобных предложений.
				
				.text Некоторых городов нет в нашем списке по причине малого количества пользователей на наших сервисах. Для составления задания по данным городам вам необходимо связаться с онлайн- консультантом. Вы узнаете сколько максимум пользователей может быть привлечено по вашему критерию. Если имеющийся объем вас устроит, тогда консультант отредактирует и запустит ваше задание.
			
			li.item
				.top_label
					span Мое задание отклонили, что делать?
				
				.text Некоторых городов нет в нашем списке по причине малого количества пользователей на наших сервисах. Для составления задания по данным городам вам необходимо связаться с онлайн- консультантом. Вы узнаете сколько максимум пользователей может быть привлечено по вашему критерию. Если имеющийся объем вас устроит, тогда консультант отредактирует и запустит ваше задание.
		
		.top_title.adorable_table.ask_question
			.adorable_cell.left Возникли вопросы? Пишите!
		
		form.faq_form
			.inputs_container
				.half.left
					.name
						input(type="text", name="name", placeholder="Имя*")
						.error
					
					.email
						input(type="email", name="email", placeholder="E-mail*")
						.error
					
					.explanation
						span.star *
						span  Поля, обязательные для заполнения
				
				.half.right
					.question
						textarea(name="question", placeholder="Ваш вопрос*")
						.error
			
			button.send Отправить