@import '../dynamic/_dynamic';

@mixin pt_sans_bold {
	font-family: 'PT_Sans_Bold';
	letter-spacing: 0.5px;
}

@font-face {
    font-family: 'PT_Sans_Regular';
    src: url('/fonts/pt_sans.eot');
    src: url('/fonts/pt_sans.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt_sans.woff') format('woff'),
         url('/fonts/pt_sans.ttf') format('truetype'),
         url('/fonts/pt_sans.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT_Sans_Bold';
    src: url('/fonts/pt_sans_bold.eot');
    src: url('/fonts/pt_sans_bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt_sans_bold.woff') format('woff'),
         url('/fonts/pt_sans_bold.ttf') format('truetype'),
         url('/fonts/pt_sans_bold.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT_Sans_Italic';
    src: url('/fonts/pt_sans_italic.eot');
    src: url('/fonts/pt_sans_italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pt_sans_italic.woff') format('woff'),
         url('/fonts/pt_sans_italic.ttf') format('truetype'),
         url('/fonts/pt_sans_italic.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT_Sans_Caption';
    src: url('/fonts/PT_Sans_Caption.eot');
    src: url('/fonts/PT_Sans_Caption.eot?#iefix') format('embedded-opentype'),
         url('/fonts/PT_Sans_Caption.woff') format('woff'),
         url('/fonts/PT_Sans_Caption.ttf') format('truetype'),
         url('/fonts/PT_Sans_Caption.svg#PT_Sans_Caption') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_Black';
    src: url('/fonts/Roboto_Black.eot');
    src: url('/fonts/Roboto_Black.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto_Black.woff') format('woff'),
         url('/fonts/Roboto_Black.ttf') format('truetype'),
         url('/fonts/Roboto_Black.svg#Roboto_Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_Medium';
    src: url('/fonts/Roboto_Medium.eot');
    src: url('/fonts/Roboto_Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto_Medium.woff') format('woff'),
         url('/fonts/Roboto_Medium.ttf') format('truetype'),
         url('/fonts/Roboto_Medium.svg#Roboto_Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_Light';
    src: url('/fonts/Roboto_Light.eot');
    src: url('/fonts/Roboto_Light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto_Light.woff') format('woff'),
         url('/fonts/Roboto_Light.ttf') format('truetype'),
         url('/fonts/Roboto_Light.svg#Roboto_Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_Bold';
    src: url('/fonts/Roboto_Bold.eot');
    src: url('/fonts/Roboto_Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto_Bold.woff') format('woff'),
         url('/fonts/Roboto_Bold.ttf') format('truetype'),
         url('/fonts/Roboto_Bold.svg#Roboto_Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neucha';
    src: url('/fonts/Neucha.eot');
    src: url('/fonts/Neucha.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Neucha.woff') format('woff'),
         url('/fonts/Neucha.ttf') format('truetype'),
         url('/fonts/Neucha.svg#Neucha') format('svg');
    font-weight: normal;
    font-style: normal;
}