@import '../dynamic/_dynamic';

button {
	@include border_radius(99999em);
	@include pt_sans_bold;
	border: none;
	outline-style: none;
	background-color: white;
	text-transform: uppercase;
	font-size: 14px;
	height: 30px;
	padding: 0 35px;
}

input {
	@include border_radius(3px);
	@include border_boxed;
	border: none;
	height: 30px;
	width: 100%;
	font-size: 16px;
	outline-style: none;
	padding: 0 10px;
	color: #4d4d4d;
	background-color: #f2f2f2;
	font-family: 'PT_Sans_Regular';
	
	&.error {
		@include box_shadow(inset 0 0 0 2px #fd7b6a !important);
		background: white !important;
	}
}

textarea {
	@include border_radius(5px);
	@include border_boxed;
	background-color: #f2f2f2;
	border: 0;
	color: #b2b2b2;
	width: 100%;
	padding: 15px 20px;
	resize: none;
}