@import '../dynamic/_dynamic';

input, textarea, button {
	@include border_boxed;
	@include border_radius(2px);
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	background-color: white;
}

input, textarea {
	width: 100%;
	border: 1px solid #91a8c3;
	outline-style: none;
	
	&.error {
		border: 1px solid #fd7b6a;
	}
}

input {
	height: 30px;
	padding: 0 10px;
}

textarea {
	height: 100%;
	padding: 10px;
	resize: none;
}

button {
	border: none;
	outline-style: none;
	text-transform: uppercase;
	height: 30px;
	padding: 0;
}