.labels
	.content
		.adorable_table
			.adorable_cell.left
				.title_container
					.topper_title realvkcom.ru
					.bottom_title без собак, без списаний, скорость до 3000
				
				.phone_container
					.skype
				
				.buttons_container
					

.menu
	.content
		| fg