.labels
	.content
		.adorable_table
			.adorable_cell.left
				.title_container.middle_inline_block
					.topper_title
						a(href="/") realvkcom.ru
					.bottom_title До 3000 в сутки
				
				.phone_container.middle_inline_block
					.skype
					
					.text
						div Имя
						div +380 (00) 111 22 33
				
				.buttons_container.middle_inline_block
					button.login Войти
					button.register Регистрация

.menu
	.content
		ul.adorable_table
			li.menu_item список услуг
			li.menu_item стоимость
			li.menu_item вопросы
			li.menu_item инструкция
			a.menu_item.module_tab.module_tab_news(href="/news") новости сервиса
			li.menu_item контакты
			li.menu_item о нас